@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebbold.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebthin.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebthin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebthin.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebthin.woff2") format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/iranyekan/eot/iranyekanweblight.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanweblight.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanweblight.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebregular.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebregular.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebregular.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebmedium.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebmedium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebmedium.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebmedium.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebmedium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrabold.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrabold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebextrabold.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebextrabold.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebextrabold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebblack.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebblack.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebblack.woff") format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebblack.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebblack.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrablack.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrablack.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebextrablack.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/woff2/iranyekanwebextrablack.woff2")
      format("woff2"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebextrablack.ttf")
      format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebboldfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebthinfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebthinfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/iranyekan/eot/iranyekanweblightfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanweblightfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanweblightfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebregularfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebmediumfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebblackfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebblackfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot");
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff")
      format("woff"),
    url("./assets/fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf")
      format("truetype");
}
